Source: openmediavault-hpraid
Section: net
XB-Plugin-Section: utilities
Priority: optional
Maintainer: Simon Pascal Baur <simonbaur@0rca.ch>
Build-Depends: debhelper (>= 9.0.0)
Standards-Version: 3.9.3
Homepage: http://0rca.ch/

Package: openmediavault-hpraid
Architecture: all
Depends: openmediavault (>= 2.1), hpacucli
Description: HPRaid plugin for OpenMediaVault.
 Plugin to view information about HP hardware raid.
